body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px -16px 24px 5px;
}

header p {
    margin: 0;
    font-weight: 600;
}

.distance-outside-small {
    padding-left: 32px;
    padding-right: 32px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.logo {
    height: 40px;
}

.homepage {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #f36805;
}

.homepage:hover {
    color: #f36805;
}

.top-right {
    display: flex;
    gap: 32px;
}

.language {
    height: 24px;
    border-radius: 100%;
    width: 24px;
    object-fit: cover;
    cursor: pointer;
}

.menu {
    height: 24px;
    cursor: pointer;
}

.rows {
    display: flex;
}

main {
    width: 75%;
}

.restaurant {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: -7px 1px 10px -2px;
    padding-bottom: 8px;
}

.restaurant p {
    margin: 0;
}

.name {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.distance-outside-large {
    padding-left: 250px;
    padding-right: 250px;
}

.distance-outside-large-margin {
    margin-right: 250px;
    margin-left: 250px;
}

.mainPic {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.valuation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.valuation a:hover {
    text-decoration: none;
}

.stars {
    display: flex;
    height: 24px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons img {
    height: 18px;
}

.roundBorder {
    padding: 16px;
    background-color: #ebe9e8;
    height: 56px !important;
    border-radius: 100%;
    cursor: pointer;
}

.roundBorder:hover {
    filter: brightness(95%);
    transition: all 225ms ease-in-out;
}


/* GUCKEN!!! STICKY OHNE FUNKTION */
.dishes {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
/* ------------------------------- */

.dishes a {
    text-decoration: none;
    color: #000000;
    padding: 4px 8px 4px 8px;
}

.dishes a:hover {
    color: #000000;
    background-color: #ebe9e8;
    border-radius: 50px;
}

.dishesChild {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}

.iconDishes {
    padding: 8px;
    height: 36px !important;
}

footer {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding: 8px;
    height: 100vh;
    width: 25%;
    box-shadow: 8px 24px 16px 4px;
}

footer img {
    margin-top: 40px;
    height: 60px;
    padding-top: 16px;
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #FCFCFC;
}

.block {
    border: 2px solid #ebe9e8;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.block:hover {
    background-color: #F5F5F5;
}

.add {
    display: flex;
    justify-content: space-between;
}

.image {
    height: 176px;
    object-fit: cover;
    margin: 16px 0 16px 0;
    border-radius: 16px;
}

.d-none {
    display: none;
}