body {
    margin: 0;
    font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

h2 {
    font-size: 26px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

h4 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px -16px 24px 5px;
}

header p {
    margin: 0;
    font-weight: 600;
}

.distance-outside-small {
    padding-left: 32px;
    padding-right: 32px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.logo {
    height: 40px;
}

.homepage {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #f36805;
}

.homepage:hover {
    color: #f36805;
}

.top-right {
    display: flex;
    gap: 32px;
}

.language {
    height: 24px;
    border-radius: 100%;
    width: 24px;
    object-fit: cover;
    cursor: pointer;
}

.menu {
    height: 24px;
    cursor: pointer;
}

.rows {
    display: flex;
}

main {
    width: 75%;
}

.restaurant {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

.restaurant p {
    margin: 0;
}

.name {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.distance-outside-large {
    padding-left: 250px;
    padding-right: 250px;
}

.mainPic {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.valuation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.valuation a {
    color: #000000;
    font-size: 16px;
}

.valuation a:hover {
    text-decoration: none;
}

.stars {
    display: flex;
    height: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons img {
    height: 18px;
}

.roundBorder {
    padding: 12px;
    background-color: #ebe9e8;
    height: 24px !important;
    border-radius: 100%;
    cursor: pointer;
}

.roundBorder:hover {
    filter: brightness(95%);
    transition: all 225ms ease-in-out;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 70px;
}

.dishes {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 6px 8px 6px -10px;
    background-color: #FFFFFF;
}

.dishes a {
    text-decoration: none;
    color: #000000;
    padding: 4px 8px 4px 8px;
}

.dishes a:hover {
    color: #000000;
    background-color: #ebe9e8;
    border-radius: 50px;
}

.dishesChild {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: #5D6768;
}

.dishesChild a {
    transition: all 225ms ease-in-out !important;
    transform: translateX(0);
}

.iconDishes {
    padding: 8px;
    height: 17px !important;
}

footer {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 8px;
    height: 100vh;
    width: 25%;
    box-shadow: 8px 24px 16px 4px;
}

footer img {
    margin-top: 40px;
    height: 60px;
    padding-top: 16px;
    object-fit: contain;
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
    margin-top: -10px;
    margin-bottom: 16px;
    background-color: #FCFCFC;
}

.add {
    border: 2px solid #ebe9e8;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.add:hover {
    background-color: #F5F5F5;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.space {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image {
    height: 176px;
    object-fit: cover;
    margin: 16px 0 16px 0;
    border-radius: 16px;
}

.d-none {
    display: none;
}

.slide a {
    transition: all 225ms ease-in-out;
    transform: translateX(-140px);
}

.noHeight {
    height: 0;
    padding: 0;
    margin: 0;
}

.order {
    display: flex;
    gap: 16px;
    text-align: start;
}

.order span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.orderSection {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.addSubstract {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.addSubstract img {
    margin: 0;

}

.description {
    color: #242E30;
    font-size: 16px;
}

.choice {
    color: #3C4C4F;
    font-size: 14px;
}